.detalhes-container{
    justify-content: center;
    width: 900px;
    align-self: center;
}

.main{
    display: flex;
    width: 100%
}

.detalhes{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 100%
}

.images img{
    width: 100%;
    align-self: center
}

.under-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.tags{
    display: flex;
    flex-direction: row;
}

.tags p{
    background-color: #fff;
    color: #000;
    border-radius: 16px;
    padding: 8px;
    margin-top: 10px;
    margin-right: 5px;
    height: 30px
}

.buttons-area{
    margin-top: 10px
}

.buttons-area button{
    height: 40px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 18px;
    justify-content: center;
    transition: all 0.5s;
    padding-right: 5px;
    padding-left: 5px
}

.buttons-area button:hover{
    background-color: red;
    color: #fff
}

.buttons-area a{
    color: #000
}

.buttons-area a:hover{
    color: #fff
}

.casting-area{
    width: 200px;
}

.casting-window{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 900px
}

.casting-window::-webkit-scrollbar{
    display: none
}

.casting{
    margin-bottom: 10px;
    width: 100%
}

.casting img{
    width: 100%;
    height: 135px
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}