.home-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center
}

.lista-filmes{
    width: 440px;
    margin: 14px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.lista-filmes h1{
    text-align: center;
    margin-bottom: 8px;
    max-width: 440px
}

.cover{
    height: 700px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center
}

.cover strong{
    text-align: center;
    font-size: 22px;
    display: block;
    color: #000;
    margin-bottom: 14px;
    height: 43px;
    justify-self: center
}

.cover img{
    height: 90%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 90%
}

.cover a{
    background-color: blue;
    height: 50px;
    width: 90%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}