.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.artist-container{
    justify-content: center;
    width: 900px;
    display: flex;
    flex-direction: column
}

.biography-area{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.biography-area p{
    margin-right: 5px
}

.birthday p{
    align-items: center;
    justify-content: center;
    display: flex
}

.biography-area img{
    width: 300px;
    height: 400px
}

.artist-movies{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 430px;
    overflow-x: auto
}

.empty-bio{
    width: 800px
}

/* .artist-movies::-webkit-scrollbar{
    display: none
} */

.artist-movies article{
    width: 200px;
    height: 85%;
    margin-right: 40px
}

.artist-movies img{
    height: 95%
}

.artist-movies h4{
    margin-bottom: 5px
}