header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #000;
}

.button-area{
    display: flex;
    flex-direction: row;
    height: 30px;
}

.button-area a{
    height: 100%;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 14px;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
}

.button-area input{
    height: 100%;
    border-radius: 4px;
    padding: 6px
}

.button-area article{
    height: 100%;
    margin-left: 10px
}

.button-area button{
    cursor: pointer;
    height: 100%;
    padding-right: 5px;
    padding-left: 5px;
    /* margin-right: 5px; */
    margin-left: 5px;
    /* border-radius: 10px */
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: bold
}


.sair{
    display: flex;
    align-items: center;
}

.adult-true{
    background-color: red;
    color: #fff
}

.adult-false{
    background-color: blue;
    color: #fff
}