.search-container{
    align-items: center;
    justify-content: center;
}

.search-container h1{
    text-align: center;
    margin-bottom: 20px;
}

.search-results{
    display: flex;
    width: 1000px;
    overflow: auto;
}

.search-card{
    height: 700px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0
}

.search-card strong{
    text-align: center;
    font-size: 22px;
    display: block;
    color: #000;
    margin-bottom: 14px
}

.search-card img{
    height: 90%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%
}

.search-card a{
    background-color: blue;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}